<!DOCTYPE html>
<html lang="en">

<head>
  <!-- basic -->
  <title>News</title>
  <!-- bootstrap css -->
  <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" />
  <!-- style css -->
  <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
  <!-- Responsive -->
  <link rel="stylesheet" href="../static/css/responsive.css" />
  <!-- fevicon -->
  <link rel="icon" href="../static/images/fevicon.png" type="image/gif" />
  <!-- Scrollbar Custom CSS -->
  <link rel="stylesheet" href="../static/css/jquery.mCustomScrollbar.min.css" />
  <!-- Tweaks for older IEs -->
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" />
  <!-- owl stylesheets -->
  <link rel="stylesheet" href="../static/css/owl.carousel.min.css" />
  <link rel="stylesheet" href="../static/css/owl.theme.default.min.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
    media="screen" />
</head>

<body>
  <!-- header section start -->
  <div class="header_section header_bg">
    <div class="container-fluid">
      <div class="main">
        <div class="logo">
          <div class="logo"><a href="/"><span style="color: white; font-size: xx-large; font-weight: bolder;">Harsh
              </span><span style="color: #873fd4; font-size: xx-large; font-weight: bolder;">Healthcare</span></a></div>
        </div>
        <div class="menu_text">
          <ul>
            <div class="togle_">
              <div class="menu_main">
                <ul>
                  <li>{% if 'user_id' not in session %}<a href="/login">Login</a>{% else %}{{ username }}{% endif %}
                  </li>
                  <li><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                </ul>
              </div>
            </div>
            <div id="myNav" class="overlay">
              <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
              <div class="overlay-content">
                <a href="/">Home</a>
                <a href="/diabetes">Diabetes</a>
                <a href="/heart_disease">Heart Diseases</a>
                <a href="/parkinsons">Parkinson's</a>
                <a href="about">About</a>
                {% if 'user_id' in session %}
                <a href="/profile">Profile</a>
                <a href="/logout">Logout</a>
                {% else %}
                <a href="/login">Login</a>
                {% endif %}
              </div>
            </div>
            <span class="navbar-toggler-icon"></span>
            <span onclick="openNav()"><img src="../static/images/toogle-icon.png" class="toggle_menu" /></span>
            <span onclick="openNav()"><img src="../static/images/toogle-icon1.png" class="toggle_menu_1" /></span>
          </ul>
        </div>
      </div>
    </div>
    <!-- banner section start -->
    <div class="container">
      <div class="about_taital_main">
        <h2 class="about_tag">Parkinson's Prediction</h2>
        <div class="about_menu">
          <ul>
            <li>
              <a href="/">Home</a>
            </li>
            <li>News</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- banner section end -->
  </div>
  <!-- header section end -->

  <!-- news section start -->
  <div class="news_section layout_padding">
    <div class="container">
      <div class="carousel-inner">
        <h1 class="news_taital">CheckUp Center</h1>
        <p class="news_text">when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less
          normal distribution of letters, as opposed to using</p>
        <div class="carousel-item active">
          <div class="box_main">
            <div class="container mt-3">
              <h1 class="news_taital" style="color: #1660C8;">Parkinson's Prediction</h1>
              <form id="parkinsonsForm" style="padding: 10px;" method="POST" action="/submit-parkinsons-data">
                <!-- Input fields for Parkinson's disease prediction -->
                <div class="form-group">
                    <label for="age" class="form-label">Age:</label>
                    <input type="number" name="age" min="0" max="120" step="1" value="54" required class="form-control" /><br />
                </div>
            
                <div class="form-group">
                    <label class="form-label">Do you have tremors, especially in your hands, arms, or legs?</label>
                    <select name="tremors" required class="form-control">
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                    </select><br />
                </div>
            
                <div class="form-group">
                    <label class="form-label">Do you have muscle stiffness or rigidity?</label>
                    <select name="muscleStiffness" required class="form-control">
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                    </select><br />
                </div>
            
                <div class="form-group">
                    <label class="form-label">Do you have slowness of movement (bradykinesia)?</label>
                    <select name="slownessOfMovement" required class="form-control">
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                    </select><br />
                </div>
            
                <div class="form-group">
                    <label class="form-label">Do you have difficulty with balance or coordination?</label>
                    <select name="balanceDifficulty" required class="form-control">
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                    </select><br />
                </div>
            
                <div class="form-group">
                    <label class="form-label">Do you have difficulty with speech or swallowing?</label>
                    <select name="speechDifficulty" required class="form-control">
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                    </select><br />
                </div>
            
                <div class="form-group">
                    <label class="form-label">Do you have a family history of Parkinson's disease?</label>
                    <select name="familyHistory" required class="form-control">
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                    </select><br />
                </div>
            
                <div class="form-group">
                    <label class="form-label">Are you over the age of 60?</label>
                    <select name="over60" required class="form-control">
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                    </select><br />
                </div>
            
                <div class="form-group">
                    <label class="form-label">Have you been exposed to certain toxins, such as pesticides or herbicides?</label>
                    <select name="toxinsExposure" required class="form-control">
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                    </select><br />
                </div>
            
                <!-- Submit button -->
                <div class="text-center" style="padding: 15px;">
                    <button id="generateButton" class="btn btn-primary">Generate Response</button>
                    <button id="saveButton" class="btn btn-primary hidden">Save Data</button>
                </div>
            </form>
            
            </div>
          </div>
        </div>
      </div>
      <center>
        <div id="response" class="hidden">
          <!-- Response from the Parkinson's disease prediction will be displayed here -->
        </div>
    </center>
    </div>
  </div>
  <!-- news section end -->

  <!-- footer section start -->
  <div class="footer_section layout_padding">
    <div class="container">
      <div class="footer_section_2">
        <div class="row">
          <div class="col-lg-3 col-sm-6">
            <h2 class="useful_text">Resources</h2>
            <div class="footer_menu">
              <ul>
                <li>
                  <a href="#">What we do</a>
                </li>
                <li>
                  <a href="#">Media</a>
                </li>
                <li>
                  <a href="#">Travel Advice</a>
                </li>
                <li>
                  <a href="#">Protection</a>
                </li>
                <li>
                  <a href="#">Care</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <h2 class="useful_text">About</h2>
            <p class="footer_text">Many desktop publishing packages and web page editors now use Lorem Ipsum
              as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in
              their infancy. Various</p>
          </div>
          <div class="col-lg-3 col-sm-6">
            <h2 class="useful_text">Contact Us</h2>
            <div class="location_text">
              <ul>
                <li>
                  <a href="#">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <span class="padding_15">Location</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <span class="padding_15">Call +91 9372860795</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <span class="padding_15">harsh@vstube.com</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <h2 class="useful_text">countrys</h2>
            <div class="map_image">
              <img src="../static/images/map-bg.png" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- footer section end -->

  <!-- copyright section start -->
  <div class="copyright_section">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <p class="copyright_text">
          <p class="copyright_text">© 2023 All Rights Reserved. By <a href="https://profile.vstube.in"
              target="_blank"><span style="color: #873fd4;">Akcyberscan</span></a></p>
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- copyright section end -->

  <!-- Include Bootstrap JS and jQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="/static/js/main3.js"></script>

  <!-- JavaScript for opening/closing the navigation menu -->
  <script>
    function openNav() {
      document.getElementById('myNav').style.width = '100%'
    }

    function closeNav() {
      document.getElementById('myNav').style.width = '0%'
    }
  </script>

<!-- JavaScript code to handle button clicks and form submission -->
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const generateButton = document.getElementById("generateButton");
    const saveButton = document.getElementById("saveButton");
    const form = document.getElementById("parkinsonsForm");
    const responseElement = document.getElementById("response");
  
    generateButton.addEventListener("click", async function () {
      // Disable the "Generate Response" button
      generateButton.disabled = true;
  
      // Get the form data
      const formData = new FormData(form);
      const data = {};
      for (const pair of formData.entries()) {
        data[pair[0]] = pair[1];
      }
  
      try {
        // Send the data to the Gemini API
        const res = await fetch(
          "https://generativelanguage.googleapis.com/v1beta2/models/text-bison-001:generateText?key=AIzaSyAhGmUooHUKmr2ffiGlBTUbIONeJ7b9NJg",
          {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({
              prompt: {
                text: "Based on the following information, what type of Parkinson's disease do I have and what is my risk of developing Parkinson's problems in the future?\n\n" +
                  JSON.stringify(data) +
                  "\nPlease provide your response in the following format:\nType of Parkinson's: [type of Parkinson's]\nRisk of Future Parkinson's: [risk of future Parkinson's]\nReaction Emoji: [reaction emoji]",
              },
            }),
          }
        );
  
        if (!res.ok) {
          throw new Error("Failed to fetch");
        }
  
        const responseData = await res.json();
  
        // Check if the response contains candidates
        if (!responseData || !responseData.candidates || responseData.candidates.length === 0) {
          throw new Error("Invalid response from server");
        }
  
        // Display the response from the Gemini API
        const response = responseData.candidates[0].output;
        responseElement.textContent = response;
  
        // Show the "Save Data" button
        saveButton.classList.remove('hidden');
      } catch (error) {
        console.error("Error querying API: ", error);
        alert("Sorry, there was an issue with your request. Please try again.");
      } finally {
        // Re-enable the "Generate Response" button
        generateButton.disabled = false;
      }
    });
  
    saveButton.addEventListener("click", async function () {
      // Get the real response data
      const response = responseElement.textContent;
  
      // Get the form data
      const formData = new FormData(form);
      const data = {};
      for (const pair of formData.entries()) {
        data[pair[0]] = pair[1];
      }
  
      try {
        // Send the form data and real response data to the backend for storage
        const res = await fetch('/submit-parkinsons-data', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({
            formData: data,
            response: response,
          }),
        });
  
        if (!res.ok) {
          throw new Error('Failed to save data');
        }
  
        // Redirect to the submit-parkinsons-data page
        window.location.href = '/submit-parkinsons-data';
      } catch (error) {
        console.error('Error saving data: ', error);
        // alert('Sorry, there was an issue saving your data. Please try again.');
      }
    });
  });
  </script>
  
  

</body>

</html>